<head>
  <script type="module" src="{{ url_for('static', filename='js/buffer.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for( 'static', filename='css/style.css')}}"
  />
</head>
<!doctype html>
    <h1>Hello World!</h1>
    <textarea class="area" style="height: 40%; width: 40%">
      42806576
      28065753
      28065753
      56070600
      </textarea
    >
    <button id="btnClick">Нажми !</button>
    <span class="loader" style="visibility: hidden"></span>
    <div
      style="text-align: center; width: 100%; font-size: 25px; margin-top: 2%"
    >
      <a id="countVag" style="visibility: hidden">Количество вагонов: </a>
    </div>
    <div class="scroll-table tableAll">
      <table>
        <thead>
          <tr>
            <th>Номер Записи</th>
            <th>Номер Вагона</th>
          </tr>
        </thead>
      </table>
      <div class="scroll-table-body">
        <table id="tableVagons">
          <tbody class="tableBody"></tbody>
        </table>
      </div>
    </div>
</html>
