<head>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for( 'static', filename='css/style.css')}}"
    />
</head>
<!doctype html>
  <title>Загрузить новый файл</title>
  <a href="{{ url_for('main') }}" class="btn" >Вернуться</a>
  <!-- <div class="lds-ring"><div></div><div></div><div></div><div></div></div> -->
  <!-- <div class="content" style="visibility: hidden;"> -->
      <h1>Загрузить новый файл</h1>
      <!-- <form id="formFile" method=post enctype=multipart/form-data >
        <input type=file name=file class="inputItem" value="Выбрать файл" onchange="inputFile()">
      </form> -->
      <form method="post" id="formFile" enctype="multipart/form-data">
        <label class="input-file">
             <input type="file" name="file" id="myFile" onchange="inputFile()">        
             <span class="input-file-btn">Выберите файл</span>
         </label>
      </form>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <h2>{{ message }}<br></h2>
        {% endfor %}
      {% endif %}
    {% endwith %}
  {% if data  %}
    {% if filename%}
      <p style="font-size: 20px;"> Файл <b style="font-size: 25px">{{filename}} </b>успешно загружен!</p>
    {% endif %}
    <a class="btn" id="vagonList" onclick="checkList()">Проверить список вагонов из файла</a>
  {% endif %}
  <div class="lds-ring" style="visibility: hidden;"><div></div><div></div><div></div><div></div></div>
  <div class="textField" style="visibility: hidden">
    <textarea name="comment" form="usrform" style=" width: 20%; height: 10%; font-size: 20px;font-weight: bold" id="textArea">
    Список вагонов:
    </textarea>
  </div>
  <table id="tableVagons">
    <tbody id="tables" class="tables">
      <tr>
        <th>№</th>
        <th>Номер Вагона</th>
      </tr>
    </tbody>
  </table>
<!-- </div> -->
</html>

