<head>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for( 'static', filename='css/style.css')}}"
    />
</head>
<!doctype html>
  <title>Загрузить новый файл</title>
  <a href="{{ url_for('main') }}" class="btn" >Вернуться</a>
  <!-- <div class="lds-ring"><div></div><div></div><div></div><div></div></div> -->
  <!-- <div class="content" style="visibility: hidden;"> -->
      <h1>Загрузить новый файл</h1>
      <form id="formFile" method=post enctype=multipart/form-data >
        <input type=file name=file class="inputItem" value="Выбрать файл" onchange="inputFile()">
        <!-- <input type=submit value=Загрузить> -->
      </form>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <h2>{{ message }}<br></h2>
        {% endfor %}
      {% endif %}
    {% endwith %}
  {% if data  %}
    {% if filename%}
      <p style="font-size: 20px;"> Файл <b style="font-size: 25px">{{filename}} </b>успешно загружен!</p>
    {% endif %}
    <a class="btn" id="vagonList" onclick="myFunction()">Проверить список вагонов из файла</a>
  {% endif %}
  <div class="lds-ring" style="visibility: hidden;"><div></div><div></div><div></div><div></div></div>
  <div class="textField" style="visibility: hidden">
    <textarea name="comment" form="usrform" style=" width: 20%; height: 60%; font-size: 20px;font-weight: bold" id="textArea">
    Список вагонов:
    </textarea>
  </div>
<!-- </div> -->
</html>

