<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for( 'static', filename='css/style.css')}}"
    />
  </head>
  <body>
    <div class="btn-group">
      <a href="{{ url_for('vagons') }}" class="btn"
        >Просмотр записей из таблицы Oracle</a
      ><br />
      <a href="{{ url_for('from_file') }}" class="btn"
        >Добавление данных из Excel таблицы в таблицу Oracle</a
      ><br />
      <a href="{{ url_for('from_buffer') }}" class="btn"
        >Добавление данных из буффера в таблицу Oracle</a
      ><br />
      <a href="{{ url_for('delete') }}" class="btn"
        >Удаление записей из таблицы Oracle</a
      >
    </div>
  </body>
</html>
