<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css')}}">
</head>
<a href="{{ url_for('main') }}" class="btn">Вернуться</a>
<h1 style="text-align: center;">Вагоны</h1>
{% if count  %}
<h2 style="text-align: center;">Количество вагонов: {{count}}</h2>
{% endif %}
{% if data %}
<div class="scroll-table">
	<table>
		<thead>
			<tr>
				{% for item in table %}
				<th>{{item}}</th>
				{% endfor %}
			</tr>
		</thead>
	</table>	
	<div class="scroll-table-body">
		<table>
			<tbody>
				{% for vagons in data %}
					<tr>
						{% for vagon in vagons %}
						<td>{{ vagon }}</td>
						{% endfor %}
					</tr>
    		{% endfor %}
			</tbody>
		</table>
	</div>	
</div>
{% endif %}
</div>
